#four-pillars__section {
    padding: 0 4vw 10vw;
}

.four-pillars__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.four-pillars__title-content {
    padding-bottom: 1.5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5vw;

    div {
        width: calc(100%/3);
        display: flex;
        flex-direction: column;
        gap: 1vw;

    }
}

.four-pillars__module {
    aspect-ratio: 1;
    width: 100%;
    border-radius: 999;
    border: solid .005vw var(--dark-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    transition: all 0.4s ease-in-out;


    div {
        width: 80%;
        top: 44%;
        position: absolute;
        transform: translate(0, 0%);
        display: flex;
        flex-direction: column;
        gap: .5vw;
    }

    p {
        opacity: 0;
        font-size: .75vw;
        transition: opacity 0.4s ease-in-out;
    }
}

.four-pillars__module:hover {
    background-color: var(--dark-color);

    * {
        color: var(--light-color);
    }
}

.four-pillars__module:hover p {
    opacity: 1;
}

@media (max-width: 700px) {
    .four-pillars__title-content div {
        width: 85%;
    }

    .four-pillars__wrapper {
        flex-direction: column;
        width: 50%;
    }
}