.benefitslist-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}

.description {
    height: 8em;
}

.list-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vw 0 0 0;
    position: relative;
}

.list-content {
    display: flex;
    flex-direction: column;
    gap: 2vw;


}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    width: calc(100vw /3);
}

.list-item {
    opacity: .5;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: opacity 0.3s ease-in-out;
}

.plus-sign {
    transition: all 0.3s ease-in-out;
}

.list-item:hover {
    opacity: .75;
}

.list-item:hover .plus-sign {
    transform: rotate(90deg);
}

.list-item.active {
    opacity: 1;
}

.description-list {
    display: flex;
    flex-direction: column;
}

.description {
    width: 75%;
    height: 10vw;
}

.non-included {
    position: absolute;
    bottom: 2vw;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 700px) {

    .list-content {
        gap: 6vw;
    }

    .description {
        width: 100%;
    }

    .benefitslist-wrapper {
        flex-direction: column-reverse;
    }

    .list {
        width: 80vw;
    }

    .list-wrapper {
        min-height: 90vh;
        padding: 20vw 0;
    }

    .description {
        height: 14em;
    }
}