.footer-section {
    background-color: var(--light-color);
    z-index: 20;
    color: var(--dark-color);
    height: 80dvh;
    position: relative;
}


.darken {
    transition: color .4s ease-in-out;

}

.footer-info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 4vw;
    height: 100%;

}


.footer-tag {
    font-family: 'Andale';
    font-size: 1vw;
    text-transform: uppercase;
}

.footer-contacto {
    width: 100%;
    padding: 2vw;
}

.footer-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


.logo-wrapper-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: calc(100% /2);
    position: absolute;
    flex-direction: column;
}

.footer-contact-item {
    text-transform: uppercase;
    font-size: 1.75vw;
    font-family: 'Andale';
    letter-spacing: -0.02em;

}

.middle-element {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.footer-menu {
    padding-top: 1vw;
    width: 100%;
}

.frase-diferente__footer {
    position: absolute;
    top: 2vw;
    left: 50%;
    transform: translate(-50%, 0);
}