.navbar{
    padding: clamp(1rem, 0.936rem + 0.261vw, 1.25rem);
    position: fixed;
    top: 0;
    z-index: 9999999999999999999999;
    width: 100%;
    color: var(--light-color);
}

ul{
    display: flex;
    justify-content: space-between;
}

.nav-element{
    font-family: 'Andale';
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    font-size: clamp(0.825rem, 0.78rem + 0.183vw, 1rem);
}

.center{
  margin-left: 0.5rem;
}

.inner-pages-wrapper{
    display: flex;
    gap: clamp(2rem, 1.307vw + 1.49rem, 4rem);
}

a{
    color: var(--light-color);
text-decoration: none;
}