.navbar{
    padding: 2vw;
    position: fixed;
    top: 0;
    z-index: 999999999999999999;
    width: 100%;
    color: var(--light-color);
}

ul{
    display: flex;
    justify-content: space-between;
}

.nav-element{
    font-family: 'Andale';
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1vw;
}

.center{
  margin-left: 0.5vw;
}

.inner-pages-wrapper{
    display: flex;
    gap: 4vw;
}

a{
    color: var(--light-color);
text-decoration: none;
}

@media (max-width: 600px) {

    .navbar{
        padding: 4vw;
    }

    .hero-banner-list{
        padding: 4vw;
    }

    .nav-element{
        font-size: 3.5vw;
    }

    .message-content{
        max-width: calc(100% /1.5);
        font-size: 6vw;
    }
}