*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-color: #DCE0DE;
  --dark-color: #333;
}

ul,li{
  list-style: none;
}


img{
  max-width: 100%;
  object-fit: cover;
}

/* Loading fonts */

@font-face {
  font-family: 'Andale';
  src: url('../fonts/Andale-Mono.woff2');
}
/* Hero Section */

.video-wrapper{
  background-color: var(--light-color);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

video{
  filter: brightness(0.75);

}

.hero-content-section{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-family: 'Andale';
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: -0.1vw;
  text-transform: uppercase;
}

.hero-content-text{
  width:100%; 
  display:flex; 
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 100;
}

.line{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h2{
  font-family: 'Andale';
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: -0.15rem;
  text-transform: uppercase;
}

p{
  font-family: 'Andale';
  font-weight: 400;
  font-size:0.875rem;
}

.primary-button{
  font-family: 'Andale';
  background-color: transparent;
  border: 0px solid;
  cursor: pointer;
}

.low-opacity{
  opacity: .5;
}

.white-type{
  color: var(--light-color);
}

.hero-title{
  text-transform: uppercase;
}

/* hero Section */

.hero-section{
  height: 500vh;
  position: relative;
}

.hero-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3,1fr);
  padding: 0rem 2rem;
  gap: 1rem;
  opacity: 0;
}

.hero-content-wrapper{
  grid-column: 2 / 3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.message{
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-content{
  font-family: 'Andale';
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: -0.25rem;
  position: absolute;
  max-width: 40%;
  opacity: 1;
  text-transform: uppercase;
  line-height: 0.9em;
  opacity: 1;
}

.scroller-wrapper{
  position:absolute;
  height: 100%;
  width: 100%;
  z-index: 999;
  opacity: 0;
}

.scroller-tracker-wrapper{
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 50%;
  opacity: 1;
}

.scroller-tracker{
  width: 1.5px;
  height: 20vh;
  position: relative;
  margin-left: 50%;
  margin-top: 0%;
}

.spacer{
  height: 70vh;
}

.scroller-opacity{
  background-color: var(--light-color);
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
}

.scroller{
  width: 100%;
  height: 50%;
  background-color: var(--light-color);
  opacity: 1;
  z-index: 9999999999;
  position: absolute;
}

/*Mentorships vs Retreats */

.mentorships-retreats-wrapper{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.part-wrapper{
  position: relative;
  height: 100vh;
  width: 100%;

}

.img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.card{
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: var(--light-color);
  text-align: center;
  aspect-ratio: 3/4;
  padding: 4rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  clip-path: polygon(
    0 50%,
    100% 50%,
    100% 50%,
    0 50%
  ); /* Inicialmente oculta todo el contenido */
  transition: all 1s cubic-bezier(0.770, 0.000, 0.175, 1.000);
  z-index: 5;

}

.part-wrapper:hover .card {
  clip-path: polygon(
    0 100%,
    100% 100%,
    100% 0,
    0 0
  ); /* Revela todo el contenido */
}

.title-sections-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}